doctype html
html(lang='en')
    head
        title Test
        link(href="/css/style.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
        link(href="/font-awesome-4.7.0/css/font-awesome.css", rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        .container.col
            h1.center Kostiuk Evgenii
                br
                |   Skype: z0iberg_ya
            div.row
                h3.center Page title
                ul.userList
                    li Lorem ipsum dolor sit amet
                        div.pull-left.user-button
                            a(href="#")
                                i.fa.fa-plus-square
                            a(href="#")
                                i.fa.fa-minus-square
                            a(href="#")
                                i.fa.fa-pencil-square
                    li Consectetur adipiscing elit
                        div.pull-left.user-button
                            a(href="#")
                                i.fa.fa-plus-square
                            a(href="#")
                                i.fa.fa-minus-square
                            a(href="#")
                                i.fa.fa-pencil-square
                    li Integer molestie lorem at massa
                        div.pull-left.user-button
                            a(href="#")
                                i.fa.fa-plus-square
                            a(href="#")
                                i.fa.fa-minus-square
                            a(href="#")
                                i.fa.fa-pencil-square
                    li Facilisis in pretium nisl aliquet
                        div.pull-left.user-button
                            a(href="#")
                                i.fa.fa-plus-square
                            a(href="#")
                                i.fa.fa-minus-square
                            a(href="#")
                                i.fa.fa-pencil-square
                    li
                        | Nulla volutpat aliquam velit
                        div.pull-left.user-button
                            a(href="#")
                                i.fa.fa-plus-square
                            a(href="#")
                                i.fa.fa-minus-square
                            a(href="#")
                                i.fa.fa-pencil-square
                        ul
                            li Phasellus iaculis neque
                                div.pull-left.user-button
                                    a(href="#")
                                        i.fa.fa-plus-square
                                    a(href="#")
                                        i.fa.fa-minus-square
                                    a(href="#")
                                        i.fa.fa-pencil-square
                            li Purus sodales ultricies
                                div.pull-left.user-button
                                    a(href="#")
                                        i.fa.fa-plus-square
                                    a(href="#")
                                        i.fa.fa-minus-square
                                    a(href="#")
                                        i.fa.fa-pencil-square
                            li Vestibulum laoreet porttitor sem
                                div.pull-left.user-button
                                    a(href="#")
                                        i.fa.fa-plus-square
                                    a(href="#")
                                        i.fa.fa-minus-square
                                    a(href="#")
                                        i.fa.fa-pencil-square
                            li Ac tristique libero volutpat at
                                div.pull-left.user-button
                                    a(href="#")
                                        i.fa.fa-plus-square
                                    a(href="#")
                                        i.fa.fa-minus-square
                                    a(href="#")
                                        i.fa.fa-pencil-square
                    li Faucibus porta lacus fringilla vel
                        div.pull-left.user-button
                            a(href="#")
                                i.fa.fa-plus-square
                            a(href="#")
                                i.fa.fa-minus-square
                            a(href="#")
                                i.fa.fa-pencil-square
                    li Aenean sit amet erat nunc
                        div.pull-left.user-button
                            a(href="#")
                                i.fa.fa-plus-square
                            a(href="#")
                                i.fa.fa-minus-square
                            a(href="#")
                                i.fa.fa-pencil-square
                    li Eget porttitor lorem
                        div.pull-left.user-button
                            a(href="#")
                                i.fa.fa-plus-square
                            a(href="#")
                                i.fa.fa-minus-square
                            a(href="#")
                                i.fa.fa-pencil-square